<div class="Registration" style="display:flex;padding-top:10%;padding-left:20%;padding-right:15%;background: rgb(46,125,171);
background: linear-gradient(132deg, rgba(46,125,171,0.8954175420168067) 0%, rgba(57,190,34,1) 100%);">
<div class="middle" style="display:flex;width:90%;height:600px">
<div class="img-registration" style="border-radius: 15px;"><%= image_tag "homelogo.png",style: 'border-radius: 18px;height:600px;width:700px'%> 
</div>
<div class="Login" style="width:100%;padding-left:15px;padding-top:10%;border-radius: 18px;background-color:white;">
<h2 style="padding-bottom:14px;">Sign Up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username, autofocus: true, autocomplete: "username" %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
<%= render "devise/shared/links" %>
</div>
</div>
</div>
