<section>
  <div class="left-side">
    <%@posts.each do |p|%>
      <div class="posts">
        <div class="posts-title">
          <div class="posts-title-name">
            <p><%= p.User[:username] %></p>
          </div>
        </div>
        <div class="posts-content">
          <div class="posts-content-text">
            <p class="posts-content-text-p">
              <p class="posts-content-text-p-con">  <%= raw p.text %> </p>
            </p>
          </div>
        </div>
        <div class="post-middle">
          <div class="posts-reactions">
            <a href="javascript:" class="material-symbols-outlined like-<%= p.id%> post" data-id=<%= p.id%>>favorite</a>
          </div>
          <div>
          <p> <strong id="post-<%= p.id%>-likes"><%= p.total_likes_count %> likes</strong></p>
        </div>
        <div class="posts-tags">
          <% if p.tags.exists?  %>
            <%= render "posts/tags", p: p %>
          <% end %>
        </div>
        <div class="time">
          <p class="posts-footer-time"><%= time_ago_in_words p.created_at %> ago</>
        </div>
        <div class="comment-display">
          <p style="color: grey;font-size: small;padding-bottom:5px;">comments:</p>
          <%= render "posts/comments", p: p %>
        </div>
      </div>
      <div class="post-comment">
        <%= form_for @comment do |f| %>
          <%= f.hidden_field :Post_id, value: p.id %>
          <%= f.hidden_field :User_id, value: current_user.id %>
          <%= f.text_field :comment,size:"104x12", placeholder: "add a comment" %>
          <%= f.submit "Post",class: "submit_button"%>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<div class="right-side">
  <div class="stories">
    <p>Flyoutes</p>
    <div class="stories-contents">
      <div class="image">
        <%= image_tag "flyout.jpeg", height: 60, class:"image-rb" %>
      </div>
      <div class="details">
        <p class="name">Kalyan</p>
        <p>12 hours ago</p>
      </div>
    </div>
    <div class="stories-contents">
      <div class="image">
        <%= image_tag "flyout.jpeg", height: 60, class:"image-rb" %>
      </div>
      <div class="details">
        <p class="name">HHH</p>
        <p>12 hours ago</p>
      </div>
    </div>
    <div class="stories-contents">
      <div class="image">
        <%= image_tag "flyout.jpeg", height: 60, class:"image-rb" %>
      </div>
      <div class="details">
        <p class="name">Undertaker</p>
        <p>12 hours ago</p>
      </div>
    </div>
  </div>
</div>
</div>
</section>
